@import 'icomoon.css';
@import 'fonts.css';
@import 'colorpicker.css';

* {
	margin: 0;
	padding: 0;
	outline: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: Source Sans Pro, Arial;
	color: #515151;
	font-weight: 300;
}

h1 {
	font-size: 40px;
	font-weight: 100;
}

h3 {
	font-size: 25px;
	font-weight: 300;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
	color: #017AFD;
}

.clear:after {
	clear: both;
	content: "";
	display: table;
}

#wrapper {
	max-width: 1200px;
	margin: auto;
	width: 100%;
	padding: 0 20px;
}

#contentWrap {
	margin-bottom: 30px;
}

.logo {
	padding: 20px 0;
	float: left;
}

.logo sup {
	color: #017AFD;
	font-size: 20px;
}

#leftPanel {
	width: 30%;
	max-width: 400px;
	float: left;
	min-height: 300px;
	border-right: 1px solid #eee;
	margin-top: 30px;
}

#rightPanel {
	margin-top: 30px;
	width: 65%;
	float: right;
	max-width: 800px;
	min-height: 300px;
	position: relative;
}

#iconInfo {
	padding-bottom: 20px;
	line-height: 30px;
}

#iconInfo span {
	color: #017AFD;
}

#iconInfo ul {
	color: #aaa;
	padding: 20px;
	padding-left: 0;
}

#iconInfo ul li {
	display: inline-block;
	margin-right: 20px;
}
#iconInfo h3 a {
	float: right;
	font-size: 14px;
}


#iconList {
	background-image: url(../images/downarrow.png);
	background-repeat: no-repeat;
	background-position: 80% center;
}

.custom-dropdown {
	width: 92%;
	overflow: hidden;
	border: 1px solid #eee;
	margin-top: 5px;
}

#controls select {
	padding: 10px;
	width: 120%;
	border: 0;
}

#controls li {
	margin-bottom: 25px;
}

#controls .range-bar {
	max-width: 75%;
	margin-top: 20px;
	display: block;
	margin-left: 25px;
}

#iconWrapper {
	margin-top: 30px;
}

#generatedIcon {
	position: relative;
	height: 128px;
	width: 128px;
	margin: auto;
	text-align: center;
	background-color: #017AFD;
	color: #fff;
	font-size: 60px;
	position: relative;
	line-height: 128px;
}


/* Color Picker */

#currentIcoBgColor {
	text-transform: uppercase;
}

#BgColorSelector,
#IconColorSelector {
	position: relative;
	width: 36px;
	margin-top: 10px;
	height: 36px;
	background: url(../images/select.png);
}
#BgColorSelector div,
#IconColorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}




/* Custom Inputs */
.control-group:not(#foo) {

}

.control-group:not(#foo) input[type="checkbox"],
.control-group:not(#foo) input[type="radio"] {
	visibility: hidden;
}

.control-group:not(#foo) input[type="checkbox"] + label,
.control-group:not(#foo) input[type="radio"] + label {
	cursor: pointer;
	margin-left: -20px;
}

.control-group:not(#foo) input[type="checkbox"] + label:before,
.control-group:not(#foo) input[type="radio"] + label:before {
	content: '';
	width: 19px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
	margin: -4px 1px 0 0;
	background: url("../images/sprite.png") no-repeat;
}

.control-group:not(#foo) input[type="checkbox"] + label:before {
	background-position: top left;
}
.control-group:not(#foo) input[type="checkbox"]:checked + label:before {
	background-position: bottom left;
}
.control-group:not(#foo) input[type="radio"] + label:before {
	background-position: top right;
}
.control-group:not(#foo) input[type="radio"]:checked + label:before {
	background-position: bottom right;
}





/* Button Styles */

.btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family: inherit;
	font-size:15px;
	padding:1px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:focus {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}





/* Power Range Styles
 * http://abpetkov.github.io/powerange/
 */

.range-bar {
	background-color: #a9acb1;
	border-radius: 15px;
	display: block;
	height: 4px;
	position: relative;
	width: 100%;
}

.range-quantity {
	background-color: #017afd;
	border-radius: 15px;
	display: block;
	height: 100%;
	width: 0;
}

.range-handle {
	background-color: #fff;
	border-radius: 100%;
	cursor: move;
	height: 16px;
	left: 0;
	top: -8px;
	position: absolute;
	width: 16px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.range-min,
.range-max {
	color: #181819;
	font-size: 12px;
	height: 20px;
	padding-top: 4px;
	position: absolute;
	text-align: center;
	top: -9px;
	width: 24px;
}

.range-min {
	left: -30px;
}

.range-max {
	right: -30px;
}

.vertical {
	height: 100%;
	width: 4px;
}

.vertical .range-quantity {
	bottom: 0;
	height: 0;
	position: absolute;
	width: 100%;
}

.vertical .range-handle {
	bottom: 0;
	left: -13px;
	top: auto;
}

.vertical .range-min,
.vertical .range-max {
	left: -10px;
	right: auto;
	top: auto;
}

.vertical .range-min {
	bottom: -30px;
}

.vertical .range-max {
	top: -30px;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.range-disabled {
	cursor: default;
}




#selectColors li {
	margin-bottom: 0;
}

#selectColors li > div {
	display: inline-block;
	vertical-align: middle;
}

#selectColors li > span {
	position: relative;
	top: 8px;
	margin-left: 10px;
}

.control-group {
	margin-top: 10px;
}

.top-links {
	float: right;
	margin-top: 40px;
}

.top-links li {
	display: inline-block;
	padding: 0 15px;
	font-weight: 200;
	position: relative;
}

.top-links li:after {
	content: "|";
	position: absolute;
	right: 0;
}

.top-links li:last-child:after {
	content: "";
}

[data-modal] {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
}

.modal-wrap {
	width: 50%;
	margin: auto;
	padding-top: 30px;
}

.modal-wrap .logo {
	float: none;
	width: 100%;
	text-align: center;
}

.modal-wrap h3 {
	margin-top: 30px;
}

.modal-wrap ul li {
	list-style-type: disc;
	margin-left: 20px;
	margin-top: 5px;
}

.icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

@media all and (max-width: 800px) {
	.logo {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.top-links {
		float: none;
		text-align: center;
		margin-top: 5px;
	}

	#leftPanel,
	#rightPanel {
		float: none;
		width: 100%;
		max-width: 90%;
		margin: auto;
	}

	#leftPanel {
		border-right: 0;
		margin-top: 30px;
	}

	#rightPanel {
		border-top: 2px solid #eee;
	}

	.modal-wrap {
		width: 90%;
		margin: auto;
		padding-top: 30px;
	}
}